{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href={% static 'favicon.ico' %}>
</head>
<body data-bs-theme="dark">
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'MF_LOGOSimpleVersion_white.svg' %}" alt="MediaFutures" width="75" height="50">
        <img src="{% static 'x-symbol-svgrepo-com.svg' %}" alt="X" width="20" height="15">
        <img src="{% static 'faktisk.svg' %}" alt="Faktisk" width="100" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'tankclassifier-home' %}">Tank Classifier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'languageclassification-home' %}">Language Checker</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock content %}

<div class="modal fade" id="searchingModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchingModalTitle">Performing Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Searching...</span>
        </div>
          <p>Please Wait</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
<script>$(document).on('submit','form',function(){
    $('#searchingModal').modal('show')
   return true
});
</script>

</body>
</html>