

#myVideo {
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
  z-index: 0;
}

.video_overlays {
    position:relative;

    z-index:100;
}

